.timeline {
    padding: 0;
}

.timeline > .MuiTimelineItem-root {
    min-height: 0px !important;
}

.timeline > .MuiTimelineItem-missingOppositeContent:before {
    display: none !important;
}

.timeline__header {
    padding-top: 7px;
}

.timeline__firstItem {
    min-height: 80px;
}

.timelineDot__header {
    background-color: lightgrey;
    color: black;
    font-size: small;
    padding: 10px;
} 

.timelineDot {
    border-color: lightgrey;
    color: black;
    padding: 2px;
}

.timeline > .MuiTimelineConnector-root {
    background-color: #eee !important;
}

.timelineDot__header > .MuiSvgIcon-root {
    font-size: 20px;
    color: darkslategray;
}

.separator__padding {
    padding-left: 10px;
}

.timeline__content {
    padding-top: 0;
    margin-bottom: 20px;

}